
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root{

    --color01: hsl(225, 100%, 94%);
    --color02: hsl(245, 75%, 52%);  
    --color03: hsl(225, 100%, 98%);
    --color04: hsl(224, 23%, 55%);
    --color05: hsl(223, 47%, 23%);
    
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
}


@media (300px <= width <= 600px){

    body{
        width: 100%;
        height: 100vh; 
    }
    body .container{
        width: 100%;
        height: 100vh;
        background-color: var(--color01);
        position: relative;
        display: grid;
        place-items: center;
    }
    body .container #backImg{
        top: 0;
        position: absolute;
        width: 100%;
    }
    body .container .site{
        display: grid;
        place-items: center;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    
    body .container-card{
        background-color: var(--color03);
        max-width: 300px;
        width: 100%;
        height: 80%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body .container-card #cardImg{
       width: 100%;
       height: 30%;
       background: url(../img/illustration-hero.svg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       border-radius: 20px 20px 0px 0px;
       margin-bottom: 7%;
    }
    body .container-card .card-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
       
        width: 85%;
        height: 60%;
    }
    body .container-card .card-info .card-title{
   
        text-align: center;
        width: 90%;     
    }
    body .container-card .card-info .card-title h2{
       color: var(--color05);
       font-weight: 700;
       margin-bottom: 7%;
       font-size: 1.3em;
    }
    body .container-card .card-info .card-title p{
        color: var(--color04);
        padding: 0px 2px;
        margin-bottom: 7%;
     }
    body .container-card .card-info .card-plan{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-bottom: 10%;
    }
    body .container-card .card-info .card-plan div:nth-child(1){
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 60%;
    }
    body .container-card .card-info .card-plan span{
        font-size: 0.85em;
        font-weight: 700;
    }
    body .container-card .card-info .card-plan p{
        font-size: 0.85em;
        color: var(--color04);
    }
    body .container-card .card-info .card-plan a{
        font-size: 0.85em;
        font-weight: 700;
    }
    body .container-card .card-info .card-plan a:hover{
        cursor: pointer;
        text-decoration: none;
        color: var(--color03);

    }
    body .container-card .card-info .card-btns{
        display: flex;
        flex-direction: column;
        width: 100%;     

    }
    body .container-card .card-info .card-btns .payment-btn{
        width: 100%; 
        font-size: 0.8em;  
        background-color: var(--color02);
        border-radius: 9px;
        text-align: center;
        padding: 5%;
        color: var(--color03);
        font-weight: 700;
        text-decoration: none;
        box-shadow: 0px 10px 20px rgba(24, 11, 217, 0.4) ;
        margin-bottom: 2%;
    }
    body .container-card .card-info .card-btns .payment-btn:hover{
        opacity: 0.8;
    }

    body .container-card .card-info .card-btns .cancel-btn{
        width: 100%;
        font-size: 0.9em;     
        text-align: center;
        padding: 5%;
        color: var(--color04);
        font-weight: 700;
        text-decoration: none;
    }
    body .container-card .card-info .card-btns .cancel-btn:hover{
        color: var(--color05);
    }


}